/* Contenedor principal */
.container {
    margin-top: 20px;
}

/* Título */
h2 {
    font-size: 24px;
    font-weight: bold;
    color: #4B5563;
}

/* Botones */
.btn {
    border-radius: 8px;
    font-size: 14px;
    padding: 10px 20px;
}

.btn-success {
    background-color: #4CAF50;
    border-color: #4CAF50;
}

.btn-primary {
    background-color: #007BFF;
    border-color: #007BFF;
}

.btn-danger {
    background-color: #DC3545;
    border-color: #DC3545;
}

.btn-outline-primary {
    border-color: #007BFF;
    color: #007BFF;
}

/* Tabla */
.table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    background-color: #FFFFFF;
}

.table-hover tbody tr:hover {
    background-color: #F8F9FA;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #F2F2F2;
}

/* Estilo para stock bajo */
.low-stock {
    background-color: #FFF3CD;
    color: #856404;
    font-weight: bold;
}

/* Paginación */
.pagination .page-link {
    color: #007BFF;
}

.pagination .page-link:hover {
    color: #06b300;
}

.pagination .active .page-link {
    background-color: #007BFF;
    border-color: #007BFF;
    color: #FFF;
}

